<%- include("header") -%>
<div class="container">
  <div class="form-group">
    <form action="/updateArticle" method="post">
    <label>Heading of the Article</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="heading" value="<%= data.heading %>">
    <label>Content of the Article</label>
    <textarea name="content" rows="15" cols="80"><%= data.content %></textarea>
    <input type="hidden" name="_id" value="<%= data._id %>">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
<%- include("footer") -%>
